@import "tailwindcss";

* {
  box-sizing: border-box;
}

@theme {
  --font-anton: var(--font-anton);
  --font-oswald: var(--font-oswald);
  --font-work-sans: var(--font-work-sans);
  --color-heading: #ffffff;
  --color-background: #f5793a;
  --color-background-transparent: rgba(245, 121, 58, 0.4);
  --color-background-card: #2f4858;
  --color-text-card-primary: #e8f1f2;
  --color-text-card-secondary: #cd8439;
  --color-button-border: #fbe282;
  --color-button: #fbe282;
}

.workout-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-auto-rows: 240px;
  gap: 15px;
  justify-content: center;
}

.action-button:before,
.action-button:after {
  content: "";
  position: absolute;
  background-color: #2f4858;
  transition: all 0.5s ease-in-out;
}

.action-button:before {
  width: calc(100% + 6px);
  height: calc(100% - 16px);
  top: 8px;
  left: -3px;
}

.action-button:after {
  width: calc(100% - 16px);
  height: calc(100% + 6px);
  top: -3px;
  left: 58px;
}

.action-button:active {
  transform: scale(0.95);
}

.action-button:hover:before {
  height: calc(100% - 32px);
  top: 16px;
}

.action-button:hover:after {
  width: calc(100% - 32px);
  left: 16px;
}

.start-button,
.restart-button {
  transition: 0.5s linear;
}

@media screen and (max-width: 1024px) {
  .workout-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}